/* Theme Default */
  
// Padding
.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
    @include small-screen {
        padding-top: 65px;
    }
}

.pt-105{
    padding-top: 105px;
}

.pt-110 {
    padding-top: 110px;
}
.pt-115 {
    padding-top: 115px;
}

.pt-120 {
    padding-top: 120px;
    @include small-screen {
        padding-top: 65px;
    }
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
    @include portrait-phone {
        padding-bottom: 50px;
    }
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
    @include small-screen {
        padding-bottom: 65px;
    }
}

.pb-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
    @include small-screen {
        padding-bottom: 65px;
    }
}
.pt-150{
    padding-top: 150px;
    @include small-screen {
        padding-top: 100px;
    }
}
.ptb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-60{
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb-70{
    padding-top: 70px;
    padding-bottom: 70px;
}

.ptb-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.ptb-90{
    padding-top: 90px;
    padding-bottom: 90px;
}

.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.ptb-105{
    padding-top: 105px;
    padding-bottom: 105px;
}

.ptb-115{
    padding-top: 115px;
    padding-bottom: 115px;
    @include small-screen {
        padding-top: 50px; 
        padding-bottom: 50px;
    }
}

.ptb-120{
    padding-top: 120px;
    padding-bottom: 120px;
    @include small-screen {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
.ptb-150{
    padding-top: 150px;
    padding-bottom: 150px;
    @include small-screen {
        padding-top: 80px; 
        padding-bottom: 80px;
    }
}
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-90 {
    margin-bottom: 90px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-60 {
    margin-right: 60px;
}

.margin-right-70 {
    margin-right: 70px;
}

.margin-right-80 {
    margin-right: 80px;
}

.margin-right-90 {
    margin-right: 90px;
}

.margin-right-100 {
    margin-right: 100px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-left-90 {
    margin-left: 90px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-10 {
    margin: 10px 0;
}

.margin-20 {
    margin: 10px 0;
}

.margin-30 {
    margin: 10px 0;
}

.margin-40 {
    margin: 10px 0;
}

.margin-50 {
    margin: 10px 0;
}

.margin-60 {
    margin: 10px 0;
}

.margin-70 {
    margin: 10px 0;
}

.margin-80 {
    margin: 10px 0;
}

.margin-90 {
    margin: 10px 0;
}

.margin-100 {
    margin: 10px 0;
}

