// Template Font Name
$heading-font: 'Inter', sans-serif;
$body-font: "Open Sans", sans-serif;



// Template Color Name
$primary-color: #cb0753;
$secondary-color: #0029FF;
$primary-gradient: linear-gradient(92.29deg, #0029FF -9.05%, #cb0753 103.12%);
$hover-gradient: linear-gradient(92.29deg, #cb0753 -9.05%, #0029FF 103.12%);
$bg-color: #0e1217;
$content-bg: #1c1f26;
$header-bg: #17191f;
$accent-color:#ffac12;
$heading-color: #f5f5f5;
$paragraph-color: #e7e7e7e7;
$white-color: #ffffff;
$black-color: #000000;
$body-color: #b9b9b9;
$border: 1px solid rgba(255, 255, 255, 0.15);
$box-shadow-light: 0 0 2px rgb(0 0 0 / 80%), 0 4px 12px rgb(0 0 0 / 36%), inset 0 0 0 0.5px rgb(237 237 237 / 25%);
$box-shadow-color: rgb(0 41 255 / 45) 0 0 3px 0;

// Transition
$transition: all .3s ease-in;
